/*! CSS Used from: https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
body{margin:0;font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);background-color:var(--bs-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
h3,h5{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h3{font-size:calc(1.3rem + .6vw);}
@media (min-width:1200px){
h3{font-size:1.75rem;}
}
h5{font-size:1.25rem;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
a:not([href]):not([class]),a:not([href]):not([class]):hover{color:inherit;text-decoration:none;}
img,svg{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]:not(:disabled),button:not(:disabled){cursor:pointer;}
.pb-4{padding-bottom:1.5rem!important;}
/*! CSS Used from: https://keungz.com/static/css/main.529c0ab0.chunk.css */
body{font-family:"SF Pro";font:18px;line-height:35px;overflow-x:hidden;overflow-y:scroll;background-color:#000;position:relative;transition:all .5s;}
a,body{color:#fff;}
a{-webkit-text-decoration-line:none;text-decoration-line:none;user-drag:none;-webkit-user-drag:none;user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
a:hover{color:#238be6;}
button{cursor:pointer;opacity:1;outline:0;transition:background-color .2s,opacity .2s;-webkit-user-select:none;-o-user-select:none;user-select:none;background-color:#fdb720;font-weight:700;border-radius:3px;border-width:0;padding:0 12px;}
button:hover:not(:disabled):not(.button--disabled):not(.button--disabled):not(:active){opacity:.65;}
button:active:not(:disabled):not(.button--disabled):not(.button--disabled){opacity:.85;}
.relative{position:relative;}
img{-webkit-user-select:none;user-select:none;}
img{user-drag:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none;}
input{background-color:initial;border-radius:12px;box-shadow:none;border:1px solid hsla(0,0%,100%,.15);transition:all .3s;color:#fff;padding:9px 10px 9px 14px;font-family:"SF Pro";height:40px;}
input:focus,input:hover{border-color:#fcc787;}
input:focus{outline:none;}
input:active{border-color:#fcc787;}
dialog{position:fixed;width:calc(100% - 32px);max-width:620px;background-color:rgba(0,0,0,.7);border:1px solid hsla(0,0%,100%,.1);border-radius:24px;color:#fff;padding:0;}
.pb-4{padding-bottom:1rem;}
.gap-x-5{-moz-column-gap:1.25rem;grid-column-gap:1.25rem;column-gap:1.25rem;}
.gap-y-6{grid-row-gap:1.5rem;row-gap:1.5rem;}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.grid{display:grid;}
@media only screen and (min-width:640px){
.sm\:gap-x-6{-moz-column-gap:1.5rem;grid-column-gap:1.5rem;column-gap:1.5rem;}
}
@media only screen and (min-width:768px){
.md\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr));}
}
@media only screen and (min-width:1024px){
.lg\:pb-8{padding-bottom:2rem;}
}
@media only screen and (min-width:1024px){
.lg\:grid-cols-5{grid-template-columns:repeat(5,minmax(0,1fr));}
}
@media only screen and (min-width:1280px){
.xl\:grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr));}
}
@media only screen and (min-width:1680px){
.xxl\:grid-cols-7{grid-template-columns:repeat(7,minmax(0,1fr));}
}
@media only screen and (min-width:2080px){
.xxxl\:grid-cols-8{grid-template-columns:repeat(8,minmax(0,1fr));}
}
::-webkit-scrollbar{width:10px;background-color:#000;}
::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-thumb{background:#222;}
::-webkit-scrollbar-thumb:hover{background:#555;}
/*! CSS Used from: Embedded */
.lhOrKU{display:flex;-webkit-box-align:stretch;align-items:stretch;}
@media only screen and (max-width: 768px){
.lhOrKU{flex-direction:column;}
}
.enopzq{display:flex;-webkit-box-align:center;align-items:center;position:relative;}
.jFIKFI{position:relative;display:flex;flex-direction:column;}
.cySNee{-webkit-box-align:center;align-items:center;position:relative;display:flex;flex-direction:column;}
.bXsBXH{font-family:"SF Pro";font-style:normal;font-weight:590;font-size:32px;line-height:40px;color:rgb(255, 255, 255);}
.iNomss{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:16px;line-height:24px;color:rgba(255, 255, 255, 0.4);}
.hNMxaz{position:relative;display:flex;flex-direction:column;backdrop-filter:blur(16px);}
.fZAQCl{text-decoration:none!important;}
.dpFdAL{display:flex;flex-direction:row;-webkit-box-align:center;align-items:center;align-self:center;padding:4px;gap:12px;width:818px;height:48px;z-index:1000;}
.eBwjXm{position:absolute;background:rgba(0, 0, 0, 0.5);backdrop-filter:blur(20px);border-radius:16px;top:0px;left:0px;height:100%;width:100%;}
.iWnkvf{display:flex;flex-direction:row;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;padding:8px 14px;gap:4px;width:144px;height:40px;border:1px solid rgba(255, 255, 255, 0.15);border-radius:12px;font-weight:410;white-space:nowrap;}
.gmmpCj{width:0px;height:15px;margin-left:18px;margin-right:18px;opacity:0.3;border:1px dashed rgb(255, 255, 255);}
.gtCWIR{font-family:"SF Pro";font-style:normal;font-weight:410;font-size:16px;color:rgb(255, 255, 255);}
::placeholder{color:white;opacity:0.6;}
.simple-btn{opacity:1;outline:0px;transition:all 0.2s ease 0s;user-select:none;}
.simple-btn:not(.disabled){cursor:pointer;}
.simple-btn:hover:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled):not(:active){opacity:0.8;}
.simple-btn:active:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled){opacity:0.85;}
.header-bar-btn{opacity:1;outline:0px;transition:all 0.2s ease 0s;border-radius:8px;padding:0px 8px;user-select:none;}
.header-bar-btn:not(.disabled){cursor:pointer;}
.header-bar-btn:hover:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled):not(:active){background-color:rgba(255, 255, 255, 0.15);}
.header-bar-btn:active:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled){background-color:rgba(255, 255, 255, 0.15);}
.metamask-btn{opacity:1;outline:0px;transition:all 0.2s ease 0s;border:1px solid rgba(255, 255, 255, 0.1);user-select:none;}
.metamask-btn:not(.disabled){cursor:pointer;}
.metamask-btn:hover:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled):not(:active){border:1px solid rgb(246, 133, 27);}
.metamask-btn:active:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled){border:1px solid rgb(246, 133, 27);}
.wc-btn{opacity:1;outline:0px;transition:all 0.2s ease 0s;border:1px solid rgba(255, 255, 255, 0.1);user-select:none;}
.wc-btn:not(.disabled){cursor:pointer;}
.wc-btn:hover:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled):not(:active){border:1px solid rgb(67, 146, 241);}
.wc-btn:active:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled){border:1px solid rgb(67, 146, 241);}
.os-complex-btn{opacity:1;outline:0px;transition:all 0.2s ease 0s;user-select:none;}
.os-complex-btn:not(.disabled){cursor:pointer;}
.os-complex-btn:hover:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled):not(:active){filter:brightness(1.3);}
.os-complex-btn:active:not(.disabled):not(:disabled):not(.pancake-button--disabled):not(.pancake-button--disabled){filter:brightness(1.2);}
h3{max-width:1200px;}
@media screen and (min-width: 0) and (max-width: calc(1943px)) and (orientation: landscape){
h3{font-size:calc(1.44vw + 1rem);}
}
@media screen and (min-width: 0) and (max-width: calc(1943px)) and (orientation: portrait){
h3{font-size:calc(1.44vh + 1rem);}
}
@media screen and (min-width: 1944px){
h3{font-size:calc(2.2rem);}
}
.border-gradient{border-width:10px;border-style:solid;border-color:initial;border-image-width:initial;border-image-outset:initial;border-image-repeat:initial;border-image-slice:1;border-image-source:linear-gradient(var(--angle,0deg),#F3008C,#0C005E);animation:4s linear 0s infinite normal none running rotate;transition:all 0.3s ease 0s;}
.fcfzEy{position:relative;}
.kelvna{width:100vw;position:relative;padding-top:60px;}
.jyVfar{font-family:"SF Pro";font-style:normal;font-weight:590;font-size:32px;line-height:40px;color:rgb(255, 255, 255);}
.dYAoeS{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:16px;line-height:24px;color:rgba(255, 255, 255, 0.4);}
.kpFeoJ{font-family:"SF Pro";font-style:normal;font-weight:590;font-size:32px;line-height:40px;color:rgb(255, 255, 255);}
.eHVPaT{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:16px;line-height:24px;color:rgba(255, 255, 255, 0.4);}
.bYrqPg{position:relative;display:flex;flex-direction:row;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;padding:9px 12px 9px 14px;gap:8px;white-space:nowrap;height:40px;color:black;background:rgb(175, 106, 254);border-radius:12px;font-weight:450;z-index:5;}
.bYrqPg::before{content:"";position:absolute;inset:-5px;z-index:-1;background:rgb(175, 106, 254);filter:blur(20px);opacity:0.3;}
.kQpaRE{position:relative;display:flex;flex-direction:row;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;padding:9px 12px 9px 14px;gap:8px;white-space:nowrap;height:40px;color:black;background:rgb(230, 52, 98);border-radius:12px;font-weight:450;z-index:5;}
.kQpaRE::before{content:"";position:absolute;inset:-5px;z-index:-1;background:rgb(230, 52, 98);filter:blur(20px);opacity:0.3;}
.fjHFxt{border:1px solid rgba(175, 106, 254, 0.25);border-radius:12px;padding:9px 14px;font-family:"SF Pro";font-style:normal;font-weight:510;font-size:16px;line-height:22px;text-align:center;white-space:nowrap;color:rgb(252, 199, 135);}
.cPybrE{border:1px solid rgba(252, 199, 135, 0.25);border-radius:12px;padding:9px 14px;font-family:"SF Pro";font-style:normal;font-weight:510;font-size:16px;line-height:22px;text-align:center;white-space:nowrap;color:rgb(252, 199, 135);}
.bIjEGB{height:0px;flex:1 1 0%;border:1px dashed rgba(252, 199, 135, 0.1);margin-bottom:16px;}
.hgtcVl{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:14px;line-height:20px;color:rgb(255, 255, 255);opacity:0.4;}
.fRllAy{font-family:"SF Pro";font-style:normal;font-weight:310;font-size:16px;line-height:22px;color:rgb(255, 255, 255);}
.jVSdwN{width:222px;background-color:black;border:1px solid rgba(255, 255, 255, 0.05);border-radius:16px;padding:12px;z-index:5;}
.hJGPDY{font-family:"SF Pro";font-style:normal;font-weight:500;font-size:13px;line-height:24px;text-align:center;color:rgb(252, 199, 135);border:1px solid rgba(252, 199, 135, 0.125);border-radius:10px;padding:4px 10px;gap:4px;}
.jorkhF{font-family:"SF Pro";font-style:normal;font-weight:500;font-size:13px;line-height:24px;text-align:center;color:rgb(252, 199, 135);border:1px solid rgba(175, 106, 254, 0.125);border-radius:10px;padding:4px 10px;gap:4px;}
.kdNsdN{font-family:"SF Pro";font-style:normal;font-weight:500;font-size:13px;line-height:24px;text-align:center;color:rgb(252, 199, 135);border:1px solid rgba(67, 146, 241, 0.125);border-radius:10px;padding:4px 10px;gap:4px;}
.gaYjKv{font-family:"SF Pro";font-style:normal;font-weight:700;font-size:48px;line-height:56px;}
.bZvMAp{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:16px;line-height:22px;color:rgb(255, 255, 255);}
.bKeClY{align-self:stretch;width:0px;opacity:0.1;border:1px dashed rgb(252, 199, 135);margin:0px 20px;}
.iByOhm{display:flex;flex-direction:row;-webkit-box-align:center;align-items:center;padding:2px 6px;gap:10px;height:24px;border:1px solid rgba(175, 106, 254, 0.25);border-radius:8px;}
.cvxIqv{display:flex;flex-direction:row;-webkit-box-align:center;align-items:center;padding:2px 6px;gap:10px;height:24px;border:1px solid rgba(252, 199, 135, 0.25);border-radius:8px;}
.cybUkZ{display:flex;flex-direction:row;-webkit-box-align:center;align-items:center;padding:2px 6px;gap:10px;height:24px;border:1px solid rgba(230, 52, 98, 0.25);border-radius:8px;}
.iRxovm{display:flex;flex-direction:row;-webkit-box-align:center;align-items:center;padding:2px 6px;gap:10px;height:24px;border:1px solid rgba(67, 146, 241, 0.25);border-radius:8px;}
.bAEwGB{display:flex;flex-direction:row;-webkit-box-align:center;align-items:center;padding:2px 6px;gap:10px;height:24px;border:1px solid rgba(99, 159, 130, 0.25);border-radius:8px;}
.gJNdgO{display:flex;flex-direction:column;align-items:flex-start;padding:0px;min-width:222px;min-height:286px;background:rgb(0, 0, 0);border:1px solid rgba(255, 255, 255, 0.2);border-radius:16px;}
.VbaIl{border-bottom:1px solid rgba(255, 255, 255, 0.2);border-radius:16px 16px 0px 0px;width:100%;height:auto;}
.jqkgSG{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:16px;line-height:22px;letter-spacing:-0.02em;color:rgb(255, 255, 255);opacity:0.7;}
.jICaMZ{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:16px;line-height:22px;letter-spacing:-0.02em;color:rgb(255, 255, 255);}
.fgCsqJ::before{content:"";position:absolute;inset:-5px;z-index:-1;background:linear-gradient(270.09deg, rgb(9, 135, 205) 0.08%, rgb(111, 16, 186) 49.17%, rgb(255, 205, 77) 99.92%);filter:blur(20px);opacity:0.3;}
.ipxdDP{position:absolute;inset:-5px;z-index:-1;background:rgb(67, 146, 241);filter:blur(20px);opacity:0.3;width:100%;height:100%;}
.fMbKqL{font-family:Heaters;font-style:normal;font-weight:400;font-size:76.9362px;line-height:67px;letter-spacing:0.03em;color:rgb(67, 146, 241);}
.fktEhB{font-family:"SF Pro";font-style:normal;font-weight:400;font-size:16px;line-height:24px;text-align:center;color:rgb(255, 255, 255);}
.gOfYOd{max-width:464px;width:90vw;background:rgba(0, 0, 0, 0.7);border:1px solid rgba(252, 199, 135, 0.314);border-radius:16px;overflow:hidden;position:relative;transition:all 0.3s ease 0s;}
.bZtKvc{max-width:464px;width:90vw;background:rgba(0, 0, 0, 0.7);border:1px solid rgba(67, 146, 241, 0.314);border-radius:16px;overflow:hidden;position:relative;transition:all 0.3s ease 0s;}
.TAITj{max-width:464px;width:90vw;background:rgba(0, 0, 0, 0.7);border:1px solid rgba(99, 159, 130, 0.314);border-radius:16px;overflow:hidden;position:relative;transition:all 0.3s ease 0s;}
.iXCfBt{font-family:"SF Pro";font-style:normal;font-weight:700;font-size:44px;line-height:48px;color:rgb(255, 255, 255);}
.gYPSkx{position:absolute;width:100%;height:100%;background:rgb(67, 146, 241);opacity:0.1;filter:blur(25px);border-radius:16px;}
.kinImK{border:1px dashed rgba(255, 255, 255, 0.2);height:0px;}
.hrVpzf{font-family:"SF Pro";font-style:normal;font-weight:300;font-size:14px;line-height:20px;color:rgb(255, 255, 255);opacity:0.6;}
.dEmDAr{font-family:"SF Pro";font-style:normal;font-weight:700;font-size:80px;line-height:80px;text-align:center;color:rgb(255, 255, 255);}
.jNNYwC{font-family:"SF Pro";font-style:normal;font-weight:410;font-size:20px;line-height:28px;text-align:center;color:rgb(255, 255, 255);letter-spacing:1px;}
.dWlnLT{object-fit:cover;z-index:0;height:auto;}
@media only screen and (max-width: 1100px){
.dWlnLT{min-width:100%;height:100%;}
}
/*! CSS Used from: Embedded */
.css-zpqu35{display:flex;flex-direction:row;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;padding:8px 14px;gap:8px;height:40px;border-radius:12px;font-family:"SF Pro";font-style:normal;font-weight:500;font-size:16px;line-height:24px;text-align:center;letter-spacing:-0.02em;color:rgb(252, 199, 135);background:transparent;border:1px solid rgba(252, 199, 135, 0.314);white-space:nowrap!important;}
.css-1y787dz{display:flex;flex-direction:row;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;padding:8px 14px;gap:8px;height:40px;background:rgb(252, 199, 135);border-radius:12px;font-family:"SF Pro";font-style:normal;font-weight:500;font-size:16px;line-height:24px;text-align:center;letter-spacing:-0.02em;color:rgb(0, 0, 0);white-space:nowrap!important;}
.css-mlotj7{display:flex;flex-direction:row;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;padding:8px 14px;gap:8px;height:40px;border-radius:12px;font-family:"SF Pro";font-style:normal;font-weight:500;font-size:16px;line-height:24px;text-align:center;letter-spacing:-0.02em;color:rgb(252, 199, 135);background:transparent;white-space:nowrap!important;}
.css-18z70of{background-color:rgb(253, 183, 32);display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;text-align:center;color:black;font-size:18px;font-family:"Russo One";padding:4px 12px;}
/*! CSS Used fontfaces */
@font-face{font-family:"SF Pro";font-weight:400;src:url(https://keungz.com/static/media/DMSans-Regular.aae18ae4.ttf);}
@font-face{font-family:"SF Pro";font-weight:400;font-style:italic;src:url(https://keungz.com/static/media/DMSans-Italic.21b36109.ttf);}
@font-face{font-family:"SF Pro";font-weight:500;src:url(https://keungz.com/static/media/DMSans-Medium.3f8e7a95.ttf);}
@font-face{font-family:"SF Pro";font-weight:500;font-style:italic;src:url(https://keungz.com/static/media/DMSans-MediumItalic.84960704.ttf);}
@font-face{font-family:"SF Pro";font-weight:700;src:url(https://keungz.com/static/media/DMSans-Bold.849f9812.ttf);}
@font-face{font-family:"SF Pro";font-weight:700;font-style:italic;src:url(https://keungz.com/static/media/DMSans-BoldItalic.fe9a0682.ttf);}
@font-face{font-family:Heaters;src:url(https://keungz.com/static/media/Heaters.f0da15fb.otf);}
@font-face{font-family:'Russo One';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOy8mJrrg.woff2) format('woff2');unicode-range:U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Russo One';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOwcmJrrg.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Russo One';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}